.selectorContainer {
  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;
}

.selectorButton {
  border: 1px solid var(--border-primary);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--color-primary);
  background-color: var(--bg-primary);
  text-align: left;
}

.buttonSmall {
  width: 94px;
  height: 21px;

  padding: 2px 4px;

  font-size: 14px;

  @media (min-width: 640px) {
    width: 94px;
  }
}

.buttonBig {
  width: 100%;
  max-width: 240px;
  height: 60px;

  padding: 16px 8px;

  @media (min-width: 640px) {
    width: 240px;
  }

  @media (min-width: 1024px) {
    width: 240px;
  }
}

.selectorMenu {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid var(--border-primary);
  border-radius: 6px;

  background-color: var(--bg-primary);

  z-index: 1000;
}

.menuSmall {
  width: 94px;
  top: 24px;

  @media (min-width: 640px) {
    width: 94px;
  }
}

.menuBig {
  top: 68px;

  width: 100%;
  max-width: 240px;

  @media (min-width: 640px) {
    width: 240px;
  }

  @media (min-width: 1024px) {
    width: 240px;
  }
}

.selectorOption {
  display: flex;
  align-items: center;
  gap: 4px;

  text-align: left;
  color: var(--color-primary);

  cursor: default;

  &:hover {
    color: var(--color-secondary);
  }
}

.optionSmall {
  width: 94px;
  padding: 2px 4px;

  font-size: 14px;

  @media (min-width: 640px) {
    width: 94px;
  }
}

.optionBig {
  height: 40px;
  padding: 16px 8px;
}

.clearButton {
  position: absolute;
  top: 8px;
  right: 8px;
}

.defaultOption {
  width: 100%;

  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
}
