.field__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.field__label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--color-primary);
}

.field__option {
  display: flex;
  gap: 4px;
  align-items: center;
}

.status__field {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status__text {
  font-size: 14px;
  color: var(--color-secondary);
}
