.header__wrapper {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 60px;
  background-color: var(--bg-secondary);
  box-shadow: var(--shadow-to-bottom);

  z-index: 9999;
}

.header__inner {
  max-width: 1280px;
  width: 100vw;
  height: 100%;

  margin-inline: auto;
  padding-inline: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__btns {
  display: flex;
  gap: 16px;
}

.header__language_btn {
  font-size: 24px;
  color: var(--color-primary);
}
