.home__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
