.status__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status__dot--alive {
  background-color: rgba(34, 197, 94, 1);
}

.status__dot--dead {
  background-color: rgba(239, 68, 68, 1);
}

.status__dot--unknown {
  background-color: rgba(251, 146, 60, 1);
}
