.layout__wrapper {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-primary);
}

.main__wrapper {
  width: 100%;
  flex: 1;
  padding: 86px 0;
  overflow-x: hidden;
}

.main__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 16px;
}
