@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import 'tailwindcss';
@tailwind utilities;

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-sans: 'Roboto', sans-serif;
  --font-karla: 'Karla', sans-serif;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Roboto', system-ui, sans-serif;
  color: black;
}
