@import '../assets/fonts/fonts.css';

@import 'tailwindcss';
@tailwind utilities;

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-karla: 'Karla', sans-serif;
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Roboto', system-ui, sans-serif;
  color: black;
}
