@import '../assets/reset.scss';
@import '../assets/fonts/fonts.css';

:root {
  --bg-primary: rgba(255, 255, 255, 1);
  --bg-secondary: rgba(255, 255, 255, 1);
  --bg-accent: rgba(0, 187, 167, 1);
  --color-primary: rgba(0, 0, 0, 0.87);
  --color-secondary: rgba(142, 142, 147, 1);
  --color-accent: rgba(18, 184, 0, 1);
  --border-primary: rgba(202, 202, 202, 1);
  --shadow-to-bottom:
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-to-top: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-full: 0 0 5px 0 rgb(0 0 0 / 0.25);

  --font-roboto: 'Roboto', system-ui, sans-serif;
  --font-karla: 'Karla', system-ui, sans-serif;
}

.dark {
  --bg-primary: rgba(51, 51, 51, 1);
  --bg-secondary: rgba(21, 21, 21, 1);
  --bg-accent: rgba(0, 187, 167, 1);
  --color-primary: rgba(255, 255, 255, 1);
  --color-secondary: rgba(202, 202, 202, 1);
  --color-accent: rgba(18, 184, 0, 1);
  --border-primary: rgba(202, 202, 202, 1);
  --shadow-to-bottom: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
  --shadow-to-top: -2px 0px 8px 2px rgba(0, 0, 0, 0.1);
  --shadow-full: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

  --font-roboto: 'Roboto', system-ui, sans-serif;
  --font-karla: 'Karla', system-ui, sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: var(--font-roboto);
  color: var(--color-primary);
  overflow-x: hidden;
  box-sizing: border-box;
}

img {
  border-style: solid;
}
