.character__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.border {
  border-bottom: 1px solid var(--border-primary);
}

.field__label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
}

.field__text {
  font-size: 14px;
  color: var(--color-secondary);
}
