.badge {
  position: absolute;
  top: -25%;
  right: -25%;

  width: 20px;
  height: 20px;

  border-radius: 50%;

  background-color: var(--color-accent);
}

.badge__count {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  line-height: 20px;

  color: var(--color-static-white);
}
