.error__wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.error__text {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-primary);
}
